
<div class="scrollDiv">

<iframe id="iframeId" marginwidth="0" marginheight="0" frameborder="0" src="https://temai.m.taobao.com/index.htm?pid=mm_15618150_46272195_1292558215">
</iframe>

</div>

<style type="text/css">
    html, body {
        margin: 0px 0px;
        width: 100%;
        height: 200px;
/*overflow: auto;	*/
/*-webkit-overflow-scrolling: touch; */
}

    .scrollDiv{
/*overflow: hidden;*/
width:100%;
/*height: 500px;*/
border: none;
background-color: #fff;
}


</style>

<script type="text/javascript">
    function  iframeHeight() {
        document.getElementById('iframeId').height = "100%";
    }

</script>
