<div class='trip_list' infinite-scroll="loadMore()" infinite-scroll-distance="2">

    <div id="scroll_div" class="scroll_div ad_div">
        <div id="scroll_begin">
            <ul>
                <li><img class="ad_image" src="https://img.alicdn.com/tps/i4/TB1tyZqLVXXXXXKXFXXx6Mp7VXX-1440-380.png"></li>
                <li><img class="ad_image" src="https://img.alicdn.com/tps/i2/TB1v9XRMXXXXXcgXVXXx6Mp7VXX-1440-380.png"></li>
                <li><img class="ad_image" src="https://img.alicdn.com/tps/i4/TB1sIJTMXXXXXbFXVXXx6Mp7VXX-1440-380.png"></li>
                <li><img class="ad_image" src="https://img.alicdn.com/tps/TB12PovKpXXXXXcXXXXXXXXXXXX-1440-380.png"></li>
            </ul>
        </div>
        <div id="scroll_end"></div>
    </div>

    <div class="group">
        <div class="group_item" ng-click="groupFilter('18595332')">女装尖货</div>
        <div class="group_item" ng-click="groupFilter('18595757')">特价好货</div>
        <div class="group_item" ng-click="groupFilter('18595526')">母婴热推</div>
        <div class="group_item" ng-click="groupFilter('18595900')">淘宝DIY</div>
    </div>

    <div class="couponCode" id="couponCode" ng-if="coupon.model">
        <div> {{coupon.title}} </div>
        <div>【淘宝在售价】{{coupon.zk_final_price}} 元</div>
        <div>【54淘淘优惠券】 {{coupon.info}} </div>
        <div>【下单链接】</div>
        <div class="continuePay"> <a href="{{coupon.click_url}}" target="_blank">浏览器继续下单请点击这里</a> </div>
        <div>----------------------</div>
        <div class="taobaoCode">
            复制这条信息, {{coupon.model}} , 打开【手机淘宝】开始抢购</div>
        <div class="closeCode" ng-click="close(coupon.model, coupon.title, coupon.zk_final_price, coupon.info)">【一键复制并关闭】</div>
    </div>
    <div class="couponCode" ng-if="coupon.sub_code">
        <div>抱歉, 当前优惠券已经结束. 去挑挑别的吧.</div>
        <div class="closeCode" ng-click="close()">【关闭】</div>
    </div>
    <div class='trip ' ng-if="trip.coupon_info" ng-repeat="trip in tripList.results.uatm_tbk_item track by $index" >
       <a href="{{trip.coupon_click_url}}" ng-if="!checkMobile()" target="_blank"> <div class='trip_main bgColorChange{{trip.num_iid}}' ng-mouseleave="bgColorRemove(trip.num_iid)" ng-mouseenter="bgColorChange(trip.num_iid)">
            <div class='trip_main_images'>
                <div ng-if="trip.pict_url">
                    <image class='trip_main_images_image' ng-src="{{trip.pict_url}}"></image>
                </div>
                <div class="trip_main_city">
                    {{trip.coupon_info}}
                </div>
                <div class="trip_main_shop">
                    店铺: {{trip.shop_title}}
                </div>
                <div class="trip_main_volume">30天销量: {{trip.volume}}</div>
                <div class='trip_main_des' ng-if='!checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.reserve_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
                <div class='trip_main_des' ng-if='checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.reserve_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div></a>

        <div ng-if="checkMobile()" ng-click="getCode(trip.coupon_click_url, trip.reserve_price, trip.coupon_info, trip.title, trip.pict_url, $index)" class='trip_main bgColorChange{{trip.item_id}}' ng-mouseleave="bgColorRemove(trip.num_iid)" ng-mouseenter="bgColorChange(trip.num_iid)">
            <div class='trip_main_images'>
                <div ng-if="trip.pict_url">
                    <image class='trip_main_images_image' ng-src="{{trip.pict_url}}"></image>
                </div>
                <div class="trip_main_city">
                    {{trip.coupon_info}}
                </div>
                <div class="trip_main_shop">
                    店铺: {{trip.nick}}人成团
                </div>
                <div class="trip_main_volume">已售: {{trip.volume}}</div>
                <div class='trip_main_des' ng-if='!checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.reserve_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
                <div class='trip_main_des' ng-if='checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.reserve_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="the_end" ng-if="couponMsg">抱歉, 没有搜到相关的优惠券, 到底啦!</div>
</div>
