<div class="start">



    <div class="start_title">
            <h4>为什么选择54淘淘?</h4>
    </div>

    <div class="start_reason">
        <h4>渠道</h4>
        <h5>"54淘淘" 对接阿里巴巴平台, 打通<span style="color: red;">淘宝特卖</span>渠道.</h5>
        <h4>优惠券</h4>
        <h5>所有优惠券均无法直接在淘宝, 天猫领取</h5>
        <h4>涵盖95%以上商品</h4>
        <h5>"54淘淘" 打通优惠券渠道, <span style="color: red;">95%以上</span>淘宝商品均有优惠券.</h5>
        <h4>安全可靠</h4>
        <h5>"54淘淘" 所有商品都<span style="color: red;">源自淘宝, 天猫</span></h5>
        <h5><span style="color: red; font-size: 20px;">所有交易淘宝付款</span>. </h5>
    </div>


    <div class="start_step">
        <h5>一分钟教你省钱！(案例: 30元优惠券)</h5>
        <div>
            <img src="/img/1_min.png">
        </div>
    </div>

</div>
