<link rel=”canonical” href=”http://www.54taotao.cn/#/start” />
<div class="start">


    <section class="gallery">
        <div class="home-caption">
            <div class="home-title">54淘淘, 对接淘宝, 天猫平台 </div>
            <div class="home-subtitle">54淘淘是国内领先的导购平台, 提供各类优惠券, 折扣, 拼单, 精选商品优惠, 是你口袋里的省钱专家, 真正的为你带来优惠, 省钱.</div>
        </div>
    </section>

    <section class="shym-option">
        <div class="container">
            <div class="row">
                <div class="shym-option-container">
                    <h3>优惠券</h3>
                    <p>
                        54淘淘所有的平台促销 和 优惠券 均无法直接在各大平台直接领取, 这就是我们提供的实实在在的优惠.
                    </p>
                </div>
                <div class="shym-option-container">
                    <h3>精选</h3>
                    <p>
                        54淘淘 人工精选淘宝, 天猫大额优惠券, 全部选自各平台的金牌卖家, 品质有保障.
                    </p>
                </div>
                <div class="shym-option-container">
                    <h3>安全可靠</h3>
                    <p>
                        "54淘淘" 所有商品都源自淘宝, 天猫<span style="font-size: 20px;"> &nbsp;所有交易淘宝付款</span>.
                    </p>
                </div>
                <!--<div class="shym-option-container">-->
                    <!--<h3>免单机会</h3>-->
                    <!--<p>-->
                        <!--注册成为54淘淘用户, 购物定期会有免单商品优惠. 正在开放中...-->
                    <!--</p>-->
                <!--</div>-->
            </div>
        </div>
    </section>

    <section class="picture-information">
        <div class="container">
            <div class="row">
                <div class="shym-text-center">
                    <h3>10秒学会如何玩</h3>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-3">
                        <div class="picture-info">
                            <p>第一步: 打开手机淘宝, 找到你想要的宝贝, 复制名字或者描述.</p>
                            <!--<img src="img/wel_1.png" style="width: 300px; height: 400px;">-->
                        </div>
                        <div class="picture-info">
                            <p>第二步: 访问【54淘淘】www.54taotao.cn 粘贴描述或者名字 -> 搜索</p>
                            <img src="img/wel_2.png" style="width: 300px; height: 400px;">
                        </div>
                        <div class="picture-info">
                            <p>第三步: 选择宝贝, 复制打开手机淘宝</p>
                            <img src="img/wel_3.png">
                        </div>
                        <div class="picture-info">
                            <p>领取优惠券, 下单前注意优惠券哦！</p>
                            <img src="img/wel_4.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="quote">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-10">
                        <h4>
                            觉得54淘淘不错
                        </h4>
                        <h3>推荐分享给身边的朋友</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
