.cke_contents {
  height: 100px;
}
.foot_wrapper {
  display: block;
  max-width: 600px;
  padding: 15px 0% 0px 2%;
  width: 100%;
}
.foot_wrapper .foot_wrapper-main {
  margin: 0 auto;
}
.foot_wrapper .foot_wrapper-main button {
  border-radius: 2px;
  background-color: darkgray;
  border: none;
  margin-top: 10px;
}
.foot_wrapper .foot_wrapper-main .shop_info {
  height: 120px;
}
.foot_wrapper .foot_wrapper-main .shop_info .shop_info_img {
  max-width: 200px;
  float: left;
  text-align: center;
}
.foot_wrapper .foot_wrapper-main .shop_info .shop_info_img img {
  width: 60px;
}
.foot_wrapper .foot_wrapper-main .shop_info .product_title {
  max-width: 400px;
  float: left;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper_pic_list {
  height: 125px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper_pic_list .foot_wrapper_pic_list_img {
  width: 75px;
  height: 75px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper_pic_list .foot_wrapper_pic_list_img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper_pic_list .foot_wrapper_pic_list_img div {
  height: 20px;
  text-align: center;
  margin-top: 5px;
}
.foot_wrapper .foot_wrapper-main .footstep_div-pic {
  max-width: 600px;
  min-height: 300px;
  text-align: center;
}
.foot_wrapper .foot_wrapper-main .footstep_div-pic img {
  max-width: 100%;
  cursor: zoom-in;
  cursor: e-resize;
}
.foot_wrapper .foot_wrapper-main .footstep_div-pic .footstep_div-pic_prev_pic {
  float: right;
  margin-left: 10px;
  padding: 25px 12px;
  background-color: white;
  cursor: pointer;
  position: absolute;
  margin-top: 235px;
  /* border-radius: 39%; */
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  opacity: 0.7;
}
.foot_wrapper .foot_wrapper-main .footstep_div-pic .footstep_div-pic_next_pic {
  float: right;
  padding: 25px 12px;
  background-color: white;
  cursor: pointer;
  position: absolute;
  margin-top: 235px;
  margin-left: 710px;
  /* border-radius: 39%; */
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  opacity: 0.7;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile {
  margin-top: 10px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .trip_main_price {
  height: 45px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .trip_main_price .trip_main_price_l {
  width: 50%;
  float: left;
  font-size: 18px;
  font-family: -webkit-pictograph;
  margin-left: 10px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .trip_main_price .trip_main_price_l span {
  font-size: 20px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .trip_main_price .trip_main_price_r {
  font-size: 15px;
  color: gainsboro;
  float: right;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .trip_main_com {
  font-size: 18px;
  text-align: center;
  color: lightcoral;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .trip_main_com a {
  text-decoration: underline;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .trip_main_purchase {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .trip_main_purchase span {
  color: red;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .foot_wrapper-main_profile-slogan {
  min-height: 20px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .foot_wrapper-main_comment-content {
  margin: 10px;
  line-height: 2;
  overflow-wrap: break-word;
  overflow: hidden;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .foot_wrapper-main_comment-add {
  width: 80px;
  margin: 10px;
  float: right;
  border-radius: 6px;
  background-color: #eee;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .foot_wrapper-main_comment-from {
  margin: 6px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .foot_wrapper-main_follower-img {
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .foot_wrapper-main_follower-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile .foot_wrapper-main_distance {
  height: 300px;
}
.foot_wrapper .foot_wrapper-rec {
  width: 400px;
  position: absolute;
  height: 800px;
  top: 120px;
  right: 2%;
}
.foot_wrapper .foot_wrapper-rec .title {
  height: 30px;
  background-color: white;
}
.foot_wrapper .foot_wrapper-rec .trip {
  height: 240px;
  margin-top: 5px;
  cursor: pointer;
  width: 185px;
  margin-left: 2px;
  float: left;
  padding-left: 1px;
}
.foot_wrapper .foot_wrapper-rec .trip .trip_main_images {
  margin-top: 1px;
  width: 180px;
  height: 180px;
}
.foot_wrapper .foot_wrapper-rec .trip .trip_main_images .trip_main_images_image {
  width: 178px;
  max-height: 178px;
  margin: 3px 3px 0px 3px;
  float: left;
}
.foot_wrapper .foot_wrapper-rec .trip .trip_main_images .trip_main_city {
  position: absolute;
  color: white;
  background-color: black;
  font-size: 12px;
}
.foot_wrapper .foot_wrapper-rec .trip .trip_main_images .trip_main_volume {
  position: absolute;
  margin: 120px 0px 0px 3px;
  background-color: white;
}
.foot_wrapper .foot_wrapper-rec .trip .trip_main_images .trip_main_des {
  height: auto;
  position: absolute;
  font-size: 12px;
  width: 178px;
  margin: 140px 0px 0px 3px;
  opacity: 0.9;
}
.foot_wrapper .foot_wrapper-rec .trip .trip_main_images .trip_main_des .trip_main_des_title {
  color: white;
  background-color: black;
}
.foot_wrapper .foot_wrapper-rec .trip .trip_main_images .trip_main_des .trip_main_des_info {
  font-size: 11px;
  background-color: black;
  padding: 0px 0px 5px 0px;
}
.foot_wrapper .foot_wrapper-rec .trip .trip_main_images .trip_main_des .trip_main_des_info .price {
  font-size: 18px;
  margin: 0px 5px;
  color: red;
  text-decoration: line-through;
}
.foot_wrapper .foot_wrapper-rec .trip .trip_main_images .trip_main_des .trip_main_des_info .final_price {
  color: white;
  margin: 0px 10px;
}
.foot_wrapper .foot_wrapper-main_comment {
  border: solid 1px gray;
  padding: 20px;
  margin-top: 5px;
}
.foot_wrapper .foot_wrapper-main_comment .footstep-list-div-comment-avatar {
  margin: 0px 0% 0px 0px;
  text-align: center;
  min-height: 100px;
  padding: 20px 30px 20px 10px;
  line-height: 3;
  float: left;
}
.foot_wrapper .foot_wrapper-main_comment .footstep-list-div-comment-avatar-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.foot_wrapper .share {
  display: block;
}
