<div class='trip_list' infinite-scroll="loadMore()" infinite-scroll-distance="2">

    <div id="scroll_div" class="scroll_div ad_div">
        <div id="scroll_begin">
            <ul>
                <!--<li><a href="https://s.click.taobao.com/t?e=m%3D2%26s%3DZgXk%2F4JFIDYcQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMTWnK1g1f%2Fcg8sviUM61dt0u3%2Bo%2Fi6WRPlri13Q9JpAkf%2F3nyRHpNNtPg35cUJvwFX2lqgO7CtJSaZ79EtxPDo%2BR4ypTBJBwtFuyeebhX0O2SSurVJSHe7w%2FF7Lz6F3ynCnqSINfUaGDB7vPEGNDw8QriA1JB1EoX9GLVKg07GMKSyIwz7qwnvUvfpRGj8OqrwkvuV1vchm7GYrz2%2Bj1z2BfsZ%2BHfEwFpporYQmk4xUociFdo98Qxt6aK2EJpOMVKB98ph5U3qOcftR3FUvrS2ifglZiCiVtvZ9et8QBftAcgGm6RYwpTxCrkmgi%2Ft8AIq4uZdqkoMYUQ4OolEgeW%2BC6WUjY3Cp6FD0lSO1OX%2BX1eAlgwYatlQSJNX8RY3FllyGFCzYOOqAQ" target="_blank"><img class="ad_image" src="https://gtms03.alicdn.com/tps/i3/TB1RQfYaQzoK1RjSZFlSuui4VXa.jpg"></a></li>-->
                <a href="#/jx/18595332"><li><img class="ad_image" src="https://img.alicdn.com/tps/i4/TB1tyZqLVXXXXXKXFXXx6Mp7VXX-1440-380.png"></li></a>
                <li><a href="http://www.ctrip.com/?TypeID=2&AllianceID=904040&sid=1475962&ouid=&app=0101F00" target="_blank"><img class="ad_image" src="img/ad_2.jpg"></a></li>
                <!--<li><a href="https://mos.m.taobao.com/activity_newer?from=pub&pid=mm_15618150_46272195_28413000417" target="_blank"><img class="ad_image" src="https://img.alicdn.com/tfs/TB14dbgbuOSBuNjy0FdXXbDnVXa-440-180.png"></a></li>-->
                <!--<li><a href="https://render.alipay.com/p/f/jfz18zj7/index.html?shareUserId=95188&sceneCode=C2C_ISV&shareChannel=QRCode&pid=mm_15618150_46272195_28413000417" target="_blank"><img class="ad_image" src="https://img.alicdn.com/tfs/TB1icfApMZC2uNjSZFnXXaxZpXa-611-253.png"></a></li>-->
                <!--<li><a href="http://www.ctrip.com/?TypeID=2&AllianceID=904040&sid=1475962&ouid=&app=0101F00" target="_blank"><img class="ad_image" src="img/ad_1.jpg"></a></li>-->
                <!--<li><a href="https://s.click.taobao.com/t?e=m%3D2%26s%3DFiC%2F3ifxfoUcQipKwQzePCperVdZeJviK7Vc7tFgwiFRAdhuF14FMZQFcWhECHcU5x%2BIUlGKNpUu3%2Bo%2Fi6WRPlri13Q9JpAkf%2F3nyRHpNNtPg35cUJvwFUU%2BkpSW6mNhk9Qf6AO0U3iR4ypTBJBwtFuyeebhX0O2SSurVJSHe7w%2FF7Lz6F3ynCnqSINfUaGDB7vPEGNDw8QriA1JB1EoX5QKYWFwjxRoG02PSKsDG07vj0We4GII0gg0PPxj%2F%2BhXGYrz2%2Bj1z2BfsZ%2BHfEwFpporYQmk4xUociFdo98Qxt6aK2EJpOMVKB98ph5U3qOcftR3FUvrS2ifglZiCiVtvVQONksk3whegGm6RYwpTxBafAYY9F5Y1wXe3D1UK9HcQ4OolEgeW%2BDPPxKxxkEiLD0lSO1OX%2BX1RQLChiUi3FIAJPMWbGHy7iGFCzYOOqAQ" target="_blank"><img class="ad_image" src="https://gtms03.alicdn.com/tps/i3/TB11xP_wYwrBKNjSZPcSutpapXa.jpg"></a></li>-->
                <a href="#/jx/17710057"><li><img class="ad_image" src="https://img.alicdn.com/tps/i3/TB1owX4MXXXXXcbXpXXx6Mp7VXX-1440-380.png"></li></a>
            </ul>
        </div>
        <div id="scroll_end"></div>
    </div>
    <a href="#/start"><div class="learn">&nbsp;&nbsp;&nbsp;点我！学会省钱</div></a>
    <div class='find'>
        <textarea placeholder='复制 淘宝商品描述 找优惠' type="text" ng-focus="" class='search_bar' maxlength='-1'/>
        <div class="search_filter">
            <button class="category1" ng-click="move(1)">综合</button>
            <button class="category2" ng-click="move(2)">女装</button>
            <button class="category3" ng-click="move(3)">家居家装</button>
            <button class="category4" ng-click="move(4)">数码家电</button>
            <button class="category5" ng-click="move(5)">母婴</button>
            <button class="category6" ng-click="move(6)">食品</button>
            <button class="category7" ng-click="move(7)">鞋包配饰</button>
            <button class="category8" ng-click="move(8)">美妆个护</button>
            <button class="category9" ng-click="move(9)">男装</button>
            <button class="category10" ng-click="move(10)">内衣</button>
            <button class="category11" ng-click="move(11)">运动户外</button>
        </div>
        <div class="search_btn" ng-click="search(event)">搜索</div>
    </div>
    <div class="couponCode" id="couponCode" ng-if="coupon.model">
        <div> {{coupon.title}} </div>
        <div>【淘宝在售价】{{coupon.zk_final_price}} </div>
        <div>【54淘淘优惠券】 {{coupon.info}} </div>
        <div>【下单链接】</div>
        <div class="continuePay"> <a href="{{coupon.click_url}}" target="_blank">浏览器继续下单请点击这里</a> </div>
        <div>----------------------</div>
        <div class="taobaoCode">
            复制这条信息, {{coupon.model}} , 打开【手机淘宝】即可下单</div>
        <div class="closeCode" ng-click="close(coupon.model, coupon.title, coupon.zk_final_price, coupon.info)">【一键复制并关闭】</div>
    </div>
    <div class="couponCode" ng-if="coupon.sub_code">
        <div>抱歉, 当前优惠券已经结束. 去挑挑别的吧.</div>
        <div class="closeCode" ng-click="close()">【关闭】</div>
    </div>
    <div class='trip ' ng-repeat="trip in tripList.results.tbk_coupon track by $index" >
       <a href="{{trip.coupon_click_url}}" ng-if="!checkMobile()" target="_blank"> <div ng-mouseleave="bgColorRemove(trip.num_iid)" ng-mouseenter="bgColorChange(trip.num_iid)">
            <div class='trip_main_images'>
                <div ng-if="trip.pict_url">
                    <image class='trip_main_images_image' ng-src="{{trip.pict_url}}"></image>
                    <!--<image class='trip_main_images_image' ng-if='checkMobile()' ng-src="{{trip.small_images.string[0]}}"></image>-->
                </div>
                <div class="trip_main_city">
                    {{trip.coupon_info}}
                </div>
                <div class="trip_main_shop">
                    店铺: {{trip.nick}}
                </div>
                <div class="trip_main_volume">30天销量: {{trip.volume}}</div>
                <div class='trip_main_des' ng-if='!checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
                <div class='trip_main_des' ng-if='checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div></a>

        <div ng-if="checkMobile()" ng-click="getCode(trip.coupon_click_url, trip.zk_final_price, trip.coupon_info, trip.title, trip.pict_url, $index)" class='trip_main bgColorChange{{trip.num_iid}}' ng-mouseleave="bgColorRemove(trip.num_iid)" ng-mouseenter="bgColorChange(trip.num_iid)">
            <div class='trip_main_images'>
                <div ng-if="trip.pict_url">
                    <image class='trip_main_images_image' ng-src="{{trip.pict_url}}"></image>
                    <!--<image class='trip_main_images_image' ng-if='checkMobile()' ng-src="{{trip.small_images.string[0]}}"></image>-->
                </div>
                <div class="trip_main_city">
                    {{trip.coupon_info}}
                </div>
                <div class="trip_main_shop">
                    店铺: {{trip.nick}}
                </div>
                <div class="trip_main_volume">30天销量: {{trip.volume}}</div>
                <div class='trip_main_des' ng-if='!checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
                <div class='trip_main_des' ng-if='checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="the_end" ng-if="couponMsg">
        <div>抱歉, 没有搜到描述相关的优惠券, 到底啦!</div>
        <div class="recommList" style="margin: 10px 0px;">{{recommMsg}}</div>
        <div class='trip ' ng-repeat="trip in recommList.results.tbk_coupon track by $index" >
            <a href="{{trip.coupon_click_url}}" ng-if="!checkMobile()" target="_blank"> <div ng-mouseleave="bgColorRemove(trip.num_iid)" ng-mouseenter="bgColorChange(trip.num_iid)">
                <div class='trip_main_images'>
                    <div ng-if="trip.pict_url">
                        <image class='trip_main_images_image' ng-src="{{trip.pict_url}}"></image>
                        <!--<image class='trip_main_images_image' ng-if='checkMobile()' ng-src="{{trip.small_images.string[0]}}"></image>-->
                    </div>
                    <div class="trip_main_city">
                        {{trip.coupon_info}}
                    </div>
                    <div class="trip_main_shop">
                        店铺: {{trip.nick}}
                    </div>
                    <div class="trip_main_volume">30天销量: {{trip.volume}}</div>
                    <div class='trip_main_des' ng-if='!checkMobile()'>
                        <div class="trip_main_des_title">
                            {{trip.title}}
                        </div>
                        <div class="trip_main_des_info">
                            <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                            <div class="coupon">
                                <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                                <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                            </div>
                        </div>
                    </div>
                    <div class='trip_main_des' ng-if='checkMobile()'>
                        <div class="trip_main_des_title">
                            {{trip.title}}
                        </div>
                        <div class="trip_main_des_info">
                            <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                            <div class="coupon">
                                <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                                <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></a>

            <div ng-if="checkMobile()" ng-click="getCode(trip.coupon_click_url, trip.zk_final_price, trip.coupon_info, trip.title, trip.pict_url, $index)" class='trip_main bgColorChange{{trip.num_iid}}' ng-mouseleave="bgColorRemove(trip.num_iid)" ng-mouseenter="bgColorChange(trip.num_iid)">
                <div class='trip_main_images'>
                    <div ng-if="trip.pict_url">
                        <image class='trip_main_images_image' ng-src="{{trip.pict_url}}"></image>
                        <!--<image class='trip_main_images_image' ng-if='checkMobile()' ng-src="{{trip.small_images.string[0]}}"></image>-->
                    </div>
                    <div class="trip_main_city">
                        {{trip.coupon_info}}
                    </div>
                    <div class="trip_main_shop">
                        店铺: {{trip.nick}}
                    </div>
                    <div class="trip_main_volume">30天销量: {{trip.volume}}</div>
                    <div class='trip_main_des' ng-if='!checkMobile()'>
                        <div class="trip_main_des_title">
                            {{trip.title}}
                        </div>
                        <div class="trip_main_des_info">
                            <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                            <div class="coupon">
                                <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                                <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                            </div>
                        </div>
                    </div>
                    <div class='trip_main_des' ng-if='checkMobile()'>
                        <div class="trip_main_des_title">
                            {{trip.title}}
                        </div>
                        <div class="trip_main_des_info">
                            <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                            <div class="coupon">
                                <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                                <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="the_end" ng-if="recommList.results.tbk_coupon">到底啦!</div>
    </div>
</div>

<!--<javascript>-->
    <!--ScrollImgLeft();-->
<!--</javascript>-->