<div class='trip_list' infinite-scroll="loadMore()" infinite-scroll-distance="2">
    <div class='find'><input placeholder='复制 淘宝商品描述 搜索' type="text" ng-keypress="search()" class='search_bar' maxlength='-1'/><div class="search_btn" ng-click="search()">搜索</div></div>
    <div class="couponCode" ng-if="coupon.model">
        <div> {{coupon.title}} </div>
        <div>【淘宝在售价】{{coupon.zk_final_price}} </div>
        <div>【优惠】 {{coupon.info}} </div>
        <div>【下单链接】</div>
        <div class="continuePay"> <a href="{{coupon.click_url}}" target="_blank">浏览器继续下单请点击这里</a> </div>
        <div>----------------------</div>
        <div>

            复制这条信息, {{coupon.model}} , 打开【手机淘宝】即可下单</div>
        <div class="closeCode" ng-click="close(coupon.model)">【一键复制并关闭】</div>
    </div>
    <div class="couponCode" ng-if="coupon.sub_code">
        <div>抱歉, 当前优惠券已经结束. 去挑挑别的吧.</div>
        <div class="closeCode" ng-click="close()">【关闭】</div>
    </div>
    <div class='trip ' ng-repeat="trip in tripList.results.tbk_coupon track by $index" >
       <a href="{{trip.coupon_click_url}}" ng-if="!checkMobile()" target="_blank"> <div ng-click="checkMobile()?getCode(trip.coupon_click_url, trip.zk_final_price, trip.coupon_info, trip.title, $index):false" class='trip_main bgColorChange{{trip.num_iid}}' ng-mouseleave="bgColorRemove(trip.num_iid)" ng-mouseenter="bgColorChange(trip.num_iid)">
            <div class='trip_main_images'>
                <div ng-if="trip.pict_url">
                    <image class='trip_main_images_image' ng-src="{{trip.pict_url}}"></image>
                    <!--<image class='trip_main_images_image' ng-if='checkMobile()' ng-src="{{trip.small_images.string[0]}}"></image>-->
                </div>
                <div class="trip_main_city">
                    {{trip.coupon_info}}
                </div>
                <div class="trip_main_shop">
                    店铺: {{trip.nick}}
                </div>
                <div class="trip_main_volume">30天销量: {{trip.volume}}</div>
                <div class='trip_main_des' ng-if='!checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
                <div class='trip_main_des' ng-if='checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div></a>

        <div ng-if="checkMobile()" ng-click="getCode(trip.coupon_click_url, trip.zk_final_price, trip.coupon_info, trip.title, trip.pict_url, $index)" class='trip_main bgColorChange{{trip.num_iid}}' ng-mouseleave="bgColorRemove(trip.num_iid)" ng-mouseenter="bgColorChange(trip.num_iid)">
            <div class='trip_main_images'>
                <div ng-if="trip.pict_url">
                    <image class='trip_main_images_image' ng-src="{{trip.pict_url}}"></image>
                    <!--<image class='trip_main_images_image' ng-if='checkMobile()' ng-src="{{trip.small_images.string[0]}}"></image>-->
                </div>
                <div class="trip_main_city">
                    {{trip.coupon_info}}
                </div>
                <div class="trip_main_shop">
                    店铺: {{trip.nick}}
                </div>
                <div class="trip_main_volume">30天销量: {{trip.volume}}</div>
                <div class='trip_main_des' ng-if='!checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
                <div class='trip_main_des' ng-if='checkMobile()'>
                    <div class="trip_main_des_title">
                        {{trip.title}}
                    </div>
                    <div class="trip_main_des_info">
                        <div class="price">淘宝现价:{{trip.zk_final_price}}</div>
                        <div class="coupon">
                            <div class="end_time">结束时间: {{trip.coupon_end_time}}</div>
                            <div class="remain">剩余: {{trip.coupon_remain_count}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="the_end" ng-if="couponMsg">抱歉, 没有搜到相关的优惠券, 到底啦!</div>
</div>
